<h1>...</h1>
<script>
var h1 = document.querySelector('h1');
if ('ondevicelight' in window) {
  window.addEventListener('devicelight', function(event) {
    h1.innerHTML = event.value;
  });
} else {
  h1.innerHTML = ":(";
}
</script>
