.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 2rem !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  font-family: Inter Tight;
}
.display-1 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 5rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.25rem;
}
.display-2 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 4rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 5rem;
}
.display-4 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.75rem;
}
.display-5 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 1.75rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-4 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #fc3344 !important;
}
.bg-success {
  background-color: #1f6463 !important;
}
.bg-info {
  background-color: #320707 !important;
}
.bg-warning {
  background-color: #a0e2e1 !important;
}
.bg-danger {
  background-color: #ffffff !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #fc3344 !important;
  border-color: #fc3344 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #fd6572 !important;
  border-color: #fd6572 !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #fd6572 !important;
  border-color: #fd6572 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #fc3344 !important;
  border-color: #fc3344 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #fd6572 !important;
  border-color: #fd6572 !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #fd6572 !important;
  border-color: #fd6572 !important;
}
.btn-info,
.btn-info:active {
  background-color: #320707 !important;
  border-color: #320707 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #5f0d0d !important;
  border-color: #5f0d0d !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #5f0d0d !important;
  border-color: #5f0d0d !important;
}
.btn-success,
.btn-success:active {
  background-color: #1f6463 !important;
  border-color: #1f6463 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #2b8b8a !important;
  border-color: #2b8b8a !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2b8b8a !important;
  border-color: #2b8b8a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #a0e2e1 !important;
  border-color: #a0e2e1 !important;
  color: #1f6463 !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #c7eeed !important;
  border-color: #c7eeed !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #1f6463 !important;
  background-color: #c7eeed !important;
  border-color: #c7eeed !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #fc3344;
  color: #fc3344;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #d50315 !important;
  background-color: transparent !important;
  border-color: #d50315 !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #fc3344 !important;
  border-color: #fc3344 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #fc3344;
  color: #fc3344;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #d50315 !important;
  background-color: transparent !important;
  border-color: #d50315 !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #fc3344 !important;
  border-color: #fc3344 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #320707;
  color: #320707;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #320707 !important;
  border-color: #320707 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #1f6463;
  color: #1f6463;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #0a2221 !important;
  background-color: transparent !important;
  border-color: #0a2221 !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #1f6463 !important;
  border-color: #1f6463 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #a0e2e1;
  color: #a0e2e1;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #5ececc !important;
  background-color: transparent !important;
  border-color: #5ececc !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #1f6463 !important;
  background-color: #a0e2e1 !important;
  border-color: #a0e2e1 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent !important;
  border-color: #d4d4d4 !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #fc3344 !important;
}
.text-secondary {
  color: #fc3344 !important;
}
.text-success {
  color: #1f6463 !important;
}
.text-info {
  color: #320707 !important;
}
.text-warning {
  color: #a0e2e1 !important;
}
.text-danger {
  color: #ffffff !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #c60313 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #c60313 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #071616 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #000000 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #52cac8 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #cccccc !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  transition: 0.2s;
  position: relative;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0 1.2em;
}
.nav-tabs .nav-link.active {
  color: #fc3344;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #320707;
}
.alert-warning {
  background-color: #a0e2e1;
}
.alert-danger {
  background-color: #ffffff;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #fc3344;
  border-color: #fc3344;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #fc3344;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fffcfc;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #3fc3c2;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #f3abab;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
  border-radius: 40px !important;
}
.form-control > .mbr-iconfont {
  font-size: 1.75rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #fc3344 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.75rem;
}
blockquote {
  border-color: #fc3344;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #fc3344;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #fc3344;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #fc3344;
  border-bottom-color: #fc3344;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #fc3344 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #fc3344 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23fc3344' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
@media (max-width: 1400px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 767px) {
  .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.cid-uuzon0WLft {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-uuzon0WLft nav.navbar {
  position: fixed;
}
.cid-uuzon0WLft .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-uuzon0WLft .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-uuzon0WLft .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-uuzon0WLft .dropdown-item:hover,
.cid-uuzon0WLft .dropdown-item:focus {
  background: #fc3344 !important;
  color: white !important;
}
.cid-uuzon0WLft .dropdown-item:hover span {
  color: white;
}
.cid-uuzon0WLft .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-uuzon0WLft .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-uuzon0WLft .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-uuzon0WLft .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-uuzon0WLft .nav-link {
  position: relative;
}
.cid-uuzon0WLft .container {
  display: flex;
  margin: auto;
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-uuzon0WLft .container {
    flex-wrap: wrap;
  }
}
.cid-uuzon0WLft .container-fluid {
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-uuzon0WLft .container-fluid {
    flex-wrap: wrap;
  }
}
.cid-uuzon0WLft .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-uuzon0WLft .dropdown-menu,
.cid-uuzon0WLft .navbar.opened {
  background: #ffffff !important;
}
.cid-uuzon0WLft .nav-item:focus,
.cid-uuzon0WLft .nav-link:focus {
  outline: none;
}
.cid-uuzon0WLft .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-uuzon0WLft .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-uuzon0WLft .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-uuzon0WLft .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-uuzon0WLft .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-uuzon0WLft .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-uuzon0WLft .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.cid-uuzon0WLft .navbar.opened {
  transition: all 0.3s;
}
.cid-uuzon0WLft .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-uuzon0WLft .navbar .navbar-logo img {
  width: auto;
}
.cid-uuzon0WLft .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-uuzon0WLft .navbar.collapsed {
  justify-content: center;
}
.cid-uuzon0WLft .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-uuzon0WLft .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-uuzon0WLft .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-uuzon0WLft .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-uuzon0WLft .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-uuzon0WLft .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-uuzon0WLft .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-uuzon0WLft .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-uuzon0WLft .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-uuzon0WLft .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-uuzon0WLft .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-uuzon0WLft .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-uuzon0WLft .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-uuzon0WLft .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-uuzon0WLft .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-uuzon0WLft .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-uuzon0WLft .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-uuzon0WLft .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-uuzon0WLft .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-uuzon0WLft .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-uuzon0WLft .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-uuzon0WLft .navbar.navbar-short {
  min-height: 60px;
}
.cid-uuzon0WLft .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-uuzon0WLft .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-uuzon0WLft .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-uuzon0WLft .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-uuzon0WLft .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-uuzon0WLft .dropdown-item.active,
.cid-uuzon0WLft .dropdown-item:active {
  background-color: transparent;
}
.cid-uuzon0WLft .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-uuzon0WLft .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-uuzon0WLft .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-uuzon0WLft .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-uuzon0WLft .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-uuzon0WLft .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-uuzon0WLft ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-uuzon0WLft .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-uuzon0WLft button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-uuzon0WLft button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-uuzon0WLft button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-uuzon0WLft button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-uuzon0WLft button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-uuzon0WLft button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-uuzon0WLft nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uuzon0WLft nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-uuzon0WLft nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-uuzon0WLft nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uuzon0WLft .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-uuzon0WLft a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-uuzon0WLft .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-uuzon0WLft .navbar {
    height: 70px;
  }
  .cid-uuzon0WLft .navbar.opened {
    height: auto;
  }
  .cid-uuzon0WLft .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-uuzpanlcQJ {
  display: flex;
  padding-top: 7rem;
  padding-bottom: 8rem;
  background-image: url("../../../assets/images/hero-1-2000x819.jpg");
}
.cid-uuzpanlcQJ .mbr-overlay {
  background-color: #000000;
  opacity: 0.5;
}
.cid-uuzpanlcQJ .content-wrap {
  padding: 5rem 1rem;
}
@media (min-width: 992px) {
  .cid-uuzpanlcQJ .content-wrap {
    padding: 5rem 3rem;
  }
}
@media (min-width: 768px) {
  .cid-uuzpanlcQJ {
    align-items: center;
  }
  .cid-uuzpanlcQJ .row {
    justify-content: center;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-uuzpanlcQJ .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-uuzpanlcQJ {
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-uuzpanlcQJ .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-uuzpanlcQJ .content-wrap {
    width: 100%;
  }
}
.cid-uuzpanlcQJ .mbr-section-title {
  text-align: center;
  color: #ffffff;
}
.cid-uuzpanlcQJ .mbr-text,
.cid-uuzpanlcQJ .mbr-section-btn {
  text-align: center;
  color: #ffffff;
}
.cid-uuzpanlcQJ .mbr-description {
  text-align: center;
  color: #ffffff;
}
.cid-uuzrYpiQYG {
  padding-top: 6rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-uuzrYpiQYG .mbr-fallback-image.disabled {
  display: none;
}
.cid-uuzrYpiQYG .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uuzr62ye8H {
  padding-top: 2rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-uuzr62ye8H .mbr-fallback-image.disabled {
  display: none;
}
.cid-uuzr62ye8H .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uuzr62ye8H .row-reverse {
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-uuzr62ye8H .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uuzr62ye8H .row {
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media (max-width: 991px) {
  .cid-uuzr62ye8H .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-uuzr62ye8H .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-uuzr62ye8H .mbr-section-title {
  color: #000000;
}
.cid-uuzr62ye8H .mbr-text,
.cid-uuzr62ye8H .mbr-section-btn {
  color: #000000;
}
.cid-uuzr62ye8H img {
  width: 100%;
  height: 100%;
}
.cid-uuzw14Xf84 {
  padding-top: 6rem;
  padding-bottom: 1rem;
  background-color: #edefeb;
}
.cid-uuzw14Xf84 .mbr-fallback-image.disabled {
  display: none;
}
.cid-uuzw14Xf84 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uuzw14Xf84 .card-wrapper {
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-uuzw14Xf84 .card-wrapper {
    padding: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-uuzw14Xf84 .card-wrapper {
    padding: 2.25rem;
  }
}
@media (min-width: 992px) {
  .cid-uuzw14Xf84 .card-wrapper {
    padding: 4rem;
  }
}
.cid-uuzw14Xf84 .wrap {
  background: url("../../../assets/images/background1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.cid-uuzw14Xf84 .wrap .inner-wrap {
  padding: 40px;
}
.cid-uuzw14Xf84 .card-title {
  color: #ffffff;
  text-align: left;
}
.cid-uuzw14Xf84 .mbr-text,
.cid-uuzw14Xf84 .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-uuzwkQcrpf {
  padding-top: 2rem;
  padding-bottom: 4rem;
  background-color: #edefeb;
}
.cid-uuzwkQcrpf .mbr-fallback-image.disabled {
  display: none;
}
.cid-uuzwkQcrpf .item-wrapper img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50% !important;
}
.cid-uuzwkQcrpf .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uuzwkQcrpf .item-wrapper {
  background: #ffffff;
  margin-bottom: 0.5rem;
  padding: 2.25rem;
  height: 100%;
}
@media (max-width: 767px) {
  .cid-uuzwkQcrpf .item-wrapper {
    padding: 2rem 1.5rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-uuzwkQcrpf .item-wrapper {
    padding: 2rem 1.5rem;
  }
}
.cid-uuzwkQcrpf .card-title,
.cid-uuzwkQcrpf .iconfont-wrapper {
  color: #000000;
}
.cid-uuzwkQcrpf .card-text {
  color: #000000;
}
.cid-uuzwkQcrpf .content-head {
  max-width: 800px;
}
.cid-uuzwkQcrpf .mbr-section-title {
  color: #000000;
}
.cid-uuzwkQcrpf .item-mb {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-uuzwkQcrpf .item-mb {
    margin-bottom: 1rem;
  }
}
.cid-uuzCOpiDb4 {
  padding-top: 6rem;
  padding-bottom: 8rem;
  background-color: #ffffff;
}
.cid-uuzCOpiDb4 img,
.cid-uuzCOpiDb4 .item-img {
  width: 100%;
  height: 100%;
  height: 400px;
  object-fit: cover;
}
@media (max-width: 767px) {
  .cid-uuzCOpiDb4 img,
  .cid-uuzCOpiDb4 .item-img {
    max-height: 300px;
  }
}
.cid-uuzCOpiDb4 .item:focus,
.cid-uuzCOpiDb4 span:focus {
  outline: none;
}
.cid-uuzCOpiDb4 .item-wrapper {
  position: relative;
}
.cid-uuzCOpiDb4 .slide-content {
  position: relative;
  border-radius: 4px;
  background: #edefeb;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-flow: column nowrap;
}
.cid-uuzCOpiDb4 .slide-content .item-content {
  padding: 2.25rem;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-uuzCOpiDb4 .slide-content .item-content {
    padding: 1.5rem;
  }
}
@media (max-width: 767px) {
  .cid-uuzCOpiDb4 .slide-content .item-content {
    padding: 1.5rem;
  }
}
.cid-uuzCOpiDb4 .mbr-section-btn {
  margin-top: auto !important;
}
.cid-uuzCOpiDb4 .mbr-section-title {
  color: #232323;
}
.cid-uuzCOpiDb4 .mbr-text,
.cid-uuzCOpiDb4 .mbr-section-btn {
  text-align: left;
}
.cid-uuzCOpiDb4 .item-title {
  text-align: left;
}
.cid-uuzCOpiDb4 .item-subtitle {
  text-align: left;
  color: #bbbbbb;
}
.cid-uuzCOpiDb4 .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 370px;
  max-width: 370px;
}
@media (max-width: 768px) {
  .cid-uuzCOpiDb4 .embla__slide {
    min-width: 85%;
    max-width: initial;
  }
}
.cid-uuzCOpiDb4 .embla__button--next,
.cid-uuzCOpiDb4 .embla__button--prev {
  display: flex;
}
.cid-uuzCOpiDb4 .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .cid-uuzCOpiDb4 .embla__button {
    display: none;
  }
}
.cid-uuzCOpiDb4 .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-uuzCOpiDb4 .embla__button:hover {
  background: #000;
  color: rgba(255, 255, 255, 0.5);
}
.cid-uuzCOpiDb4 .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-uuzCOpiDb4 .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-uuzCOpiDb4 .embla__button {
    top: auto;
  }
}
.cid-uuzCOpiDb4 .embla {
  position: relative;
  width: 100%;
}
.cid-uuzCOpiDb4 .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-uuzCOpiDb4 .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-uuzCOpiDb4 .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-uuzCOpiDb4 .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
@media (max-width: 768px) {
  .cid-uuzCOpiDb4 .embla__container .embla__slide:first-child {
    margin-left: 2rem !important;
  }
  .cid-uuzCOpiDb4 .embla__container .embla__slide:last-child {
    margin-right: 2rem !important;
  }
}
.cid-uuzCOpiDb4 .content-head {
  max-width: 800px;
}
.cid-uuzHA1HgNt {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #edefeb;
}
.cid-uuzHA1HgNt .mbr-fallback-image.disabled {
  display: none;
}
.cid-uuzHA1HgNt .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uuzHA1HgNt .img-wrapper {
  text-align: center;
}
.cid-uuzHA1HgNt img {
  margin: auto;
  width: 200px;
}
.cid-uuzHA1HgNt .row {
  align-items: flex-start;
}
.cid-uuzHA1HgNt .item-wrapper {
  margin-bottom: 2rem;
  background: #ffffff;
  padding: 1rem;
}
@media (max-width: 767px) {
  .cid-uuzHA1HgNt .item-wrapper {
    margin-bottom: 1rem;
  }
}
@media (min-width: 768px) {
  .cid-uuzHA1HgNt .item-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-uuzHA1HgNt .item-wrapper {
    margin-bottom: 3rem;
  }
}
.cid-uuzHA1HgNt .mbr-section-title,
.cid-uuzHA1HgNt .mbr-section-subtitle {
  text-align: center;
  color: #000000;
}
.cid-uuzHA1HgNt .content-head {
  max-width: 800px;
}
.cid-uuzKNNK0iS {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #232323;
}
.cid-uuzKNNK0iS .mbr-text {
  color: #ffffff;
}
.cid-uuzKNNK0iS .mbr-section-subtitle {
  color: #ffffff;
}
