@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  src: local("IBM Plex Mono"), local("IBMPlexMono"),
    url("/fonts/IBMPlexMono-Regular.woff2") format("woff2");
}

.keyboard {
  text-align: center;
  transform: translate(-30px, 0);
  font-size: 1.5em;
  user-events: none;
  opacity: 1;
  transition: 200ms opacity ease;
}
.keyboard > div {
  display: inline-block;
  text-align: left;
}

.noKB .keyboard { opacity: 0; }

.kbl {
  border-radius: 3px;
  display: inline-block;
  min-width: 20px;
  padding: 2px 10px;
  margin: 3px;
  background-color: rgba(0,0,0,0.2);
}

body {
  background-color: #f3f3f3;
  color: #949494;
  font-family: "IBM Plex Mono", monospace;
  line-height: 1.4;
}

.dark {
  background-color: #262626;
  color: #808080;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #4271ae;
}

.center-column {
  font-size: 1rem;
  margin: 10rem auto 0 auto;
  max-width: 40rem;
  padding: 2rem 2rem;
  position: center;
  resize: none;
  white-space: pre-wrap;
}

body.text-big .center-column {
  font-size: 1.5rem;
}

.correct {
  color: #4d4d4c;
}

.correct.dark {
  color: #d0d0d0;
}

.error {
  color: #df0000;
}

.cursor {
  background-color: #4d4d4c;
  color: #f3f3f3;
}

.cusor.dark {
  background-color: #d0d0d0;
  color: #262626;
}

.wpm { color: #8959a8; stroke: #8959a8; }
.accuracy { color: #d75f00; stroke: #d75f00; }

.left {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.right {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.top2{ top: 2.5rem; }
.top3{ top: 4rem; }

svg {
  display: block;
  fill: none;
  margin: auto;
  max-width: 40rem;
  padding: 2rem 0;
  stroke-width: 3px;
}

.charts {
  padding: 2rem 0;
}
