@font-face {
  font-family: 'VG5000';
  src:    url('VG5000-Regular_web.eot');
  src:    url('VG5000-Regular_web.eot?#iefix') format('embedded-opentype'),
          url('VG5000-Regular_web.woff') format('woff'),
          url('VG5000-Regular_web.woff2') format('woff2'),
          url('VG5000-Regular_web.ttf') format('truetype'),
          url('VG5000-Regular_web.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'NotoSans';
  /*src:    url('VG5000-Regular_web.eot');*/
  src:    /*url('VG5000-Regular_web.eot?#iefix') format('embedded-opentype'),
          url('VG5000-Regular_web.woff') format('woff'),
          url('VG5000-Regular_web.woff2') format('woff2'), */
          url('NotoSans-Regular.ttf') format('truetype'),
          /*url('VG5000-Regular_web.svg#svgFontName') format('svg');*/
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: "NotoSans", sans-serif;
  padding: 0;
  margin: 0;
  max-width: 100%;
  background: #000;
  color: #fff;
  --left-color: #ff3447;
  --fancy-btn-bg: #ff3447;
  --fancy-btn-bg-hover: #ff4255;
  --game-title-hover-fg: #ff4255;
  --fancy-btn-text: #ffffff;
  --right-color: #000000;
}

.vs-row {
  display: flex;
}

.vs-row:before,
.vs-row:after {
  content: "";
  display: block;
  flex: 1;
}

.vs-row:before { background: var(--left-color); }
.vs-row:after{ background: var(--right-color); }

.vs-row-separator {
  background: var(--right-color);
  display: flex;
}

.vs-row-separator:before {
  content: "";
  display: block;
  width: 13%;
  background: var(--left-color);
}

.container {
  max-width: 100%;
  width: 1200px;
  margin: 0 auto;
}

.top-nav {
  font-family: "VG5000", sans-serif;
  background: #000;
  z-index: 99;
  top: 0;
  width: 100%;
  min-height: 55px;
}

.top-nav > ul {
  padding: 0;
  list-style: none;
  min-height: 42px;
  text-align: center;
}

.top-nav > ul > li {
  display: none;
}

.top-nav.is-open > ul > li {
  display: block;
}

.top-nav > ul > li.top-nav-li-burger {
  display: block;
}

.top-nav > ul > li.top-nav-li.is-home{
  display: block;
  margin-top: 5px;
  padding: 0;
  height: 30px;
}

.top-nav svg > rect {
  transition: 200ms transform ease-in-out, opacity 200ms ease-in-out;
  transform: rotate(0), translate(0);
}
.top-nav svg > rect:nth-child(1) { transform-origin: 29px 35px; }
.top-nav svg > rect:nth-child(2) { transform-origin: 50px 50px; }
.top-nav svg > rect:nth-child(3) { transform-origin: 18px 65px; }

/* .top-nav.is-open svg > rect:nth-child(1) { */
.top-nav.is-open svg > rect:nth-child(1) {
  transform: rotate(45deg);
}

.top-nav.is-open svg > rect:nth-child(2) {
  opacity: 0;
}

.top-nav.is-open svg > rect:nth-child(3) {
  transform: rotate(-45deg);
}

.top-nav-li {
}

.top-nav-li > a {
  display: block;
  font-size: 13px;
  text-decoration: none;
  padding: 7px 15px;
  line-height: 40px;
  color: #fff;
  text-transform: uppercase;
}

.top-nav-li > a > img {
  color: red;
}

.top-nav.is-open > ul {
  padding-top: 20px;
}

.top-nav-li.is-home,
.top-nav-li-burger {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
}

@media(min-width: 800px)
{
  .top-nav-li.is-home {
    position: static;
  }
  body {
    padding-top: 42px; /*top-nav*/
  }
  .top-nav {
    position: fixed;
    min-height: 40px;
  }
  .top-nav > ul {
    justify-content: space-between;
    flex-direction: row;
    display: flex;
  }
  .top-nav.is-open > ul {
    padding-top: 0;
  }
  .top-nav > ul > li {
    display: block;
  }
  .top-nav-li > a {
    height: 40px;
    padding: 0 20px;
  }
  .top-nav-li.is-home { margin-right: auto; }
  .top-nav-li.is-contact { margin-left: auto; }
}

@media(min-width: 1000px)
{
  .top-nav-li > a {
    padding: 0 30px;
  }
}

.top-nav-li > a:hover {
  opacity: 0.6;
}

.top-nav-li.is-home {
  right: auto;
  left: 0;
}

.top-nav-li-burger > button {
  cursor: pointer;
  background: none;
  border: 0;
  padding: 10px;
  color: #fff;
}

.top-nav-li-burger svg {
  width: 32px;
  height: 32px;
}


@media(min-width: 800px)
{
  .is-mobile {
    display: none;
  }
  .top-nav-li-burger {
    display: none !important;
  }
}

.vs-hero {
  overflow: hidden;
  display: flex;
  position: relative;
}

.vs-hero-left {
  text-align: center;
  width: 100%;
  padding: 15px 15px 50px 15px;
  background: white;
  color: #000;
}

.vs-hero-right {
  position: relative;
  min-height: 490px;
  flex: 1;
  display: none;
}

@media(min-width: 700px)
{
  .vs_hero { min-height: 490px; }
  .vs-hero-left { width: 270px; }
  .vs-hero-right { display: block; }
  .vs-hero-left-fancy-btn { display: none !important; }
}


.vs-hero-right img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: 800ms ease-in-out opacity;
}

.vs-hero-right > .fancy-btn {
  position: absolute;
  left: 125px;
  bottom: 60px;
}

.hero-blockquote {
  text-align: left;
  max-width: 240px;
  margin: 0;
  display: inline-block;
}

.blockquote {
  padding-top: 20px;
  font-style: italic;
  position: relative;
  text-indent: 1em;
}

.blockquote:before {
  font-family: 'VG5000';
  content: "\"";
  display: inline-block;
  position: absolute;
  top: 0px;
  left: -12px;
  font-weight: bold;
  font-size: 30px;
}

.blockquote:after {
  content: "\"";
  margin-left: -5px;
}

.fancy-btn {
  font-family: "VG5000", sans-serif;
  white-space: nowrap;
  position: absolute;
  display: inline-block;
  text-decoration: none;
  background: var(--fancy-btn-bg);
  color: var(--fancy-btn-text);
  padding: 12px 12px 4px 60px;
  transition: 200ms ease-in-out all;
  box-shadow: -13px 13px 0 var(--fancy-btn-bg);
}

.fancy-btn:after {
  content: "->";
  display: block;
}

.fancy-btn:before {
  transition: 200ms ease-in-out all;
  content: "";
  display: block;
  position: absolute;
  top: -13px;
  left: -13px;
  width: 0;
  height: 0;
  border: 13px solid transparent;
  border-bottom: 13px solid var(--fancy-btn-bg);
}

.fancy-btn:hover {
  background: var(--fancy-btn-bg-hover);
  box-shadow: -13px 13px 0 var(--fancy-btn-bg-hover);
}
.fancy-btn:hover:before {
  border-bottom-color: var(--fancy-btn-bg-hover);
}

/* .fancy-btn:before { */
/*   content: ""; */
/*   width: 100%; */
/*   height: 100%; */
/*   position: absolute; */
/*   left: 0; */
/*   top: 0; */
/*   transform: translate(-15px, 8px); */
/*   transition: 200ms ease-in-out transform, 200ms ease-in-out border-color; */
/*   display: block; */
/*   border: 4px solid #ff3447; */
/* } */

.fancy-btn:hover {
}

/* @-moz-keyframes arrow { */
/*     100% { -moz-transform: rotate(360deg); } */
/* } */
/* @-webkit-keyframes arrow { */
/*     100% { -webkit-transform: rotate(360deg); } */
/* } */
@keyframes arrow {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}


.fancy-arr {
  display: block;
  width: 100px;
  height: 100px;
  background: no-repeat url("hand_small.png");
  background-size: contain;
  position: absolute;
  margin-left: -100px;

  transform-origin: 90% 10%;

  -webkit-animation: arrow 1s ease-in-out infinite;
  -moz-animation: arrow 1s ease-in-out infinite;
  animation: arrow 1s ease-in-out infinite;
}

.fancy-btn > .fancy-arr {
  top: 25px;
  left: 40px;
}

.fancy-btn:hover > .fancy-arr {
  -webkit-animation-duration: 0.25s;
  -moz-animation-duration: 0.25s;
  animation-duration: 0.25s;
}

.vs-hero-left-fancy-btn {
  position: relative;
  margin: 50px 0 40px 30px;
}

h2 {
  font-family: "VG5000", sans-serif;
  margin: 0;
  font-size: 30px;
  font-weight: normal;
}

.black-header {
  min-height: 42px;
  background: #000;
  line-height: 40px;
  color: #fff;
  padding: 0 30px;
}

.game-list {
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.game-list > li {
  flex: 1;
  min-width: 99%;
}
@media(min-width: 500px) { .game-list > li { min-width: 49%; } }
@media(min-width: 900px) { .game-list > li { min-width: 22%; } }


.game-list-a > img {
  object-fit: cover;
  transform: scale(1);
  transition: 200ms ease-in-out transform;
  height: 270px;
  z-index: 1;
}

.game-list-a:hover > img {
  transform: scale(1.2);
}

.game-list-a:hover > .game-list-title {
  color: var(--game-title-hover-fg);
}

.game-list-a {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  _justify-content: flex-end;
  width: 100%;
  color: #fff;
  text-decoration: none;
}

.game-list-title {
  position: relative;
  z-index: 2;
  padding: 5px;
  height: 80px;
  background: black;
  text-transform: uppercase;
  font-weight: bold;
}


.mission {
  overflow: hidden;
  width: 100%;
  color: #fff;
}

.mission-blockquote {
  max-width: 530px;
}

.mission-content {
  margin: 0 auto;
  justify-content: center;
}

.mission-left {
  padding: 15px 10px 100px 30px;
  background: #197af9;
  padding-right: 50px;
  flex: 5;
}

.mission-right {
  padding: 15px 10px 200px 15px;
  flex: 1;
  min-width: 200px;
}

.mission-right-btn {
  margin-top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
}

@media(min-width: 1000px)
{
  .mission-content {
    display: flex;
  }
  .mission-right {
    width: 200px;
    padding-bottom: 50px;
  }

  .mission-right-btn {
    margin-top: 30px;
    left: -50px;
    position: relative;
    transform: translate(0, 0);
  }
}
